/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-background: #F8F9FE;
    --color-title: #151827;
    --color-primary: #680262;
    --color-text: #85859B;
    --color-stroke: #CFD1DD;
    --color-hover: #490245;
}