/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-page {
  background-color: var(--color-background);
  border-radius: 16px;
  width: 460px;
  height: 665px;

  @media (max-width:850px){
    width: 343px;
    height: 586px;
  }
  @media (max-width: 350px){
    width: 270px;
  }
}

h1, h2, button, a {
  font-weight: 700;
}

h1, h2 {
  color: var(--color-title);
}

button, a {
  line-height: 160%;
}

img {
  width: 100%;
}

.gif {
  width: 64px;
}

h1 {
  font-size: 32px;
  line-height: 32px;

  @media (max-width:850px){
    font-size: 24px;
    line-height: 24px;
  }
}

h2 {
  font-size: 18px;
  line-height: 25px;

  @media (max-width: 850px){
    font-size: 16px;
    line-height: 16px;
  }
  @media (max-width:350px){
    font-size: 15px;
  }
}

button {
  color: #FFFFFF;
  background-color: var(--color-primary);
  border-radius: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  border: 0;
}

a {
  letter-spacing: -0.01em;
  font-size: 16px;
  line-height: 160%;

  @media (max-width: 850px){
    font-size: 14px;
  }

}

p {
  color: var(--color-text);
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 160%;

  @media (max-width: 850px){
    font-size: 12px;
  }
  @media (max-width: 350px){
    font-size: 11px;
  }
  
}


